# -*- mode: yaml; coding: utf-8-unix; -*-
If:
  PathMatch:
    - src/.*\.h
CompileFlags:
  Remove:
    - -xobjective-c++-header
  Add:
    - -xc++-header
    - -std=c++23
    - -I../build-debug/src
    - -I../build-release/src
    - -I../build/src
---
If:
  PathMatch:
    - build/src/.*\.h
    - build-debug/src/.*\.h
    - build-release/src/.*\.h
CompileFlags:
  Remove:
    - -xobjective-c++-header
  Add:
    - -xc++-header
    - -std=c++23
    - -I../../src
---
If:
  PathMatch:
    - src/.*\.cpp
CompileFlags:
  Add:
    - -xc++
    - -std=c++23
    - -I../build-debug/src
    - -I../build-release/src
    - -I../build/src
---
If:
  PathMatch:
    - build/src/.*\.cpp
    - build-debug/src/.*\.cpp
    - build-release/src/.*\.cpp
CompileFlags:
  Add:
    - -xc++
    - -std=c++23
    - -I../../src
